body {
  font-family: 'Arial';
}
.page {
    display: flex;
    position:absolute; 
    top:0; left:0; right:0; bottom:0; 
    margin:auto;
    justify-content: center;
    align-items: center;
    
}

.content-wrapper{
  display: flex;
  border: 1px outset;
  border-radius: 5px;
  padding: 10px;
}

.lists-wrapper { 
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  color: gray;
}

.todos-wrapper {
  display: inline-block;
  vertical-align: top;
  border: 1px outset;
  border-radius: 5px;
  padding: 10px;
  background-color: lightgrey;
  position: relative;
}
.hidden {
  display: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  width: 300px;
}
li {
  clear: both;
}
li button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  color: red;
  float: right;
  cursor: pointer;
  font-size: 20px;
  background-color: inherit;
}
li a{
  text-decoration: none;
  color: inherit;
}

.add-data {
  color: green;
  cursor: pointer;
  float: right;
}

h2 {
  float: left;
}

.section-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.error, .list-error {
  color: red;
}

form input[type="text"]{
  width: 75%;
}

form input[type="search"]{
  width: 100%;
}

#check-all {
  position: absolute;
  overflow: hidden;
  bottom: 10px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: blue;
}