{% extends "layout.html" %}
{% block content %}
  <div class="page">
    <div class="content-wrapper">
      <div class="lists-wrapper">
        <h2>Lists</h2>
        <ul>
          {% for list in lists %}
            <li><a href="/lists/{{ list.id }}">{{ list.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class = "todos-wrapper">
        <h2>{{ active_list.name }}</h2>
        <div id="error" class="hidden">Something went wrong!</div>
        <form id="form" method="post" action="/todos/create">
            <input type="text" id="description" name="description" />
            <input type="submit" value="Create" />
        </form>
        <ul id="todos">
            {% for item in data %}
            <li>
              <label class="checkbox-container">
                <input class="check-completed" data-id="{{ item.id }}" type="checkbox" {% if item.completed %} checked {% endif %}>
              </label>
              {{ item.description }}
              <button class="remove-item" data-id="{{ item.id }}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
        

<script type="text/javascript">
  const checkboxes = document.querySelectorAll('.check-completed');
  for (let i = 0; i < checkboxes.length; i++){
    const checkbox = checkboxes[i]
    checkbox.onchange = function(e) {
      const newCompleted = e.target.checked;
      const todoId = e.target.dataset['id'];
      fetch('/todos/' + todoId + '/set-completed', {
        method: 'POST',
        body: JSON.stringify({
          'completed': newCompleted
        }),
        headers: {
          'Content-Type': 'application/json',
        }
      })
      .then(function() {
        document.getElementById('error').className = 'hidden';
      })
      .catch(function() {
        document.getElementById('error').className = '';
      })
    }
  }
  const deletes = document.querySelectorAll('.remove-item');
  for (let i = 0; i < deletes.length; i++){
    const deleteitem = deletes[i]
    deleteitem.onclick = function(e) {
      console.log('event', e);
      const todoId = e.target.dataset['id'];
      fetch('/todos/' + todoId + '/remove-item', {
        method: 'DELETE'
      });
    }
  }
      const descInput = document.getElementById('description');
      document.getElementById('form').onsubmit = function(e) {
        e.preventDefault();
        const desc = descInput.value;
        descInput.value = '';
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': desc,
          }),
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          console.log('response', jsonResponse);
          li = document.createElement('li');
          li.innerText = desc;
          document.getElementById('todos').appendChild(li);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }

</script>

{% endblock %}