{% extends "layout.html" %}
{% block content %}
  <div class="page">
    <div class="content-wrapper">
      <div class="lists-wrapper">
        <div class="section-heading">
          <h2>Lists</h2>
          <span class="add-data" id="add-list">Create a list</span>
        </div>
        <form class="hidden" id="list-form" method="post" action="/lists/create">
          <input type="text" id="listname" name="listname">
          <input type="submit" value="Create">
        </form>
        <div id="list-error" class="hidden">Something went wrong!</div>
        <ul id="lists">
          {% for list in lists %}
            <li>
              <a class="list-name" data-id="{{ list.id }}" href="/lists/{{ list.id }}">{{ list.name }}</a>
              <button class="remove-list" data-id="{{ list.id }}">&cross;</button>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class = "todos-wrapper">
        <div class="section-heading">
          <h2 id="activelist">{{ active_list.name }}</h2>
          <span class="add-data" id="add-todo">Add a To-Do</span>
        </div>
        <form class="hidden" id="todo-form" method="post" action="/todos/create">
          <input type="text" id="todo-description" name="description">
          <input type="submit" value="Create">
        </form>
        <div id="error" class="hidden">Something went wrong!</div>
        <ul id="todos">
            {% for item in data %}
            <li>
              <label class="checkbox-container">
                <input class="check-completed" data-id="{{ item.id }}" type="checkbox" {% if item.completed %} checked {% endif %}>
              </label>
              {{ item.description }}
              <button class="remove-item" data-id="{{ item.id }}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/list.js') }}"></script>
 
{% endblock %}